<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Testify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E59473ED1C46C61F0082B2B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E59474011C46C61F0082B2B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E594740C1C46C61F0082B2B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
